@page "/etflist"
@inject AppSettings appSettings
@inject HttpClient httpClient
@using SectorModel.Client.Pages.Components
@using SectorModel.Shared.Entities

<div>
    <div class="row">
        <DataGrid Items="@equityList" TItem="ModelItem">
            <HeaderTemplate>
                <th>Symbol</th>
                <th>Name</th>
                <th>Last Price</th>
            </HeaderTemplate>
            <RowTemplate>
                <td>@context.Equity.Symbol</td>
                <td>@context.Equity.SymbolName</td>
                <td>@context.LastPrice</td>
            </RowTemplate>
            <FooterTemplate>
                <td>
                    @context.Count equities in list.
                </td>
                <td>
                    Prices as of: @appSettings.LastQuoteDate.ToShortDateString()
                </td>
            </FooterTemplate>
        </DataGrid>
    </div>
</div>


@code
{
    private Model model = new Model();
    private List<ModelItem> equityList = new List<ModelItem>();

    protected override async Task OnInitializedAsync()
    {
        model = await httpClient.GetFromJsonAsync<Model>($"model/getmodel?modelId={appSettings.SPDRModelId}");

        equityList = await httpClient.GetFromJsonAsync<List<ModelItem>>($"quote/getmodelbydate?modelId={appSettings.SPDRModelId}&date={DateTime.Now.Date}");
    }
}