@inject AppSettings appSettings
@inject AppState appState
@inject HttpClient httpClient
@inject NavigationManager nav

@using SectorModel.Client.Common
@using SectorModel.Shared.Entities

<DataGrid Items="@UserModelList" TItem="Model" Context="m">
    <HeaderTemplate>
        <th>Name</th>
        <th>Active?</th>
        <th>Private?</th>
        <th>Start Date</th>
        <th>Stop Date</th>
        <th>Start Value</th>
        <th>Stop Value</th>
        <th>Gain/Loss</th>
        <th>Version</th>
        <th>Actions</th>
    </HeaderTemplate>
    <RowTemplate>
        <td>@m.Name</td>
        <td>@m.IsActive</td>
		<td>@m.IsPrivate</td>
        <td>@m.StartDate</td>
        <td>@m.StopDate</td>
        <td>@m.StartValue.ToString("n")</td>
        <td>@m.StopValue.ToString("n")</td>
        <td>@Utils.CalcGainLoss(m.StartValue, m.StopValue).ToString("n") </td>
		<td>@m.Version</td>
        <td>
             <input type="button" id="btnEdit" class="button button-primary" @onclick="@( () => { EditModel(@m.Id); } )" value="Edit" />
        </td>
    </RowTemplate>
    <FooterTemplate>
        <td colspan="4">
            Models: @m.Count
        </td>
    </FooterTemplate>
</DataGrid>

@code
{
    [Parameter]
    public List<Model> UserModelList { get; set; }

    private void EditModel(Guid modelId)
    {
        nav.NavigateTo($"/ModelEdit/{modelId}");
    }
}
